<!DOCTYPE html>
<html>
 
<head>
    <meta charset="UTF-8">
</head>
 
<body>
    <p><%=name %> さんからの伝言です</p>
    <p><%=message %></p>
    <form action="/" method="post">
        <input type="text" name="name" value="名前">
        <input type="text" name="message" value="伝言">
        <button type="submit" name="button">送信</button>
    </form>
</body>
 
</html>
