<!DOCTYPE html>
<html>
 
<head>
    <meta charset="UTF-8">
    <style>
        .size-input-name {width: 16em; height: 2em;}
        .size-input-message {width: 50em; height: 3em; }
    </style>
</head>

<body>
    <h2>メッセージ送信フォーム</h2>
    <br>
    <form action="/" method="post">
        <input type="text" name="name" placeholder="名前" class = "size-input-name">
        <hr>
        <input type="text" name="message" placeholder="メッセージ" class = "size-input-message">
        <hr>
        <button type="submit" name="button">送信</button>
    </form>
    <br>
    <h2>送信内容</h2>
    <ul>
        <li>名前：<%=name %></li>
        <li>メッセージ：<%=message %></li>
    </ul>
</body>

</html>
